body {
  box-sizing: border-box;
  background-image: url(https://lilithn.github.io/assets/images/green%20fractal%20flower.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: black;

}

h1 {
  position: relative;
  top: 3px;
  height: 68px;
  text-align: center;
}

.mepic {
  width: 30%;
  border-style: double;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

}

p {
padding-left: 14px;
margin-top: 20px;
}

.header {
  border-style: groove;
  background-color: rgba(170, 63, 57, 0.6);
}

.leaf {
  opacity: 0.8;
  width: 31px;
}

.main {
  position: relative;
  box-sizing: border-box;
  max-width: 1020px;
  background: rgba(102, 153, 51, 0.6);
  align-content: center;
}
